#header{
  font-family: 'Press Start 2P';
  height: 100vh; 
  background-image: url('../img/bg_circuits.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid gray; 
}

#profile_image {
  position: absolute;
  top: 5%;
  height:25%;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#title {
  position: absolute;
  text-align: center;
  top: 35%;
  padding:.5em;
}

#subtext {
  position: absolute;
  text-align: center;
  top: 50%;
  padding:.5em;
}

#header_icons{
  margin-top: 50px;
}

#header_icons > a {
  padding:12px;
  color: inherit;
}

#header_icons > a:hover {
  color:white;
}

#header_bottom {
  position: absolute;
  top: 89%;
  padding-bottom: 10px;
  text-align: center;
}