@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  font-family: 'Press Start 2P';
  color: lightgray;
  background-color:#303030;
  height: 100%;
  margin: 0;
  padding: 0;
}

.profile_image {
  height:200px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.header{
  height: 100vh; 
  background-color: #222;
  background-position: center;
  background-image: url('img/bg_circuits.svg');
  text-align: center;
}

.parallax {
  background-image: url("img/background_river.png");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  padding-top: 200px;
}

#subheader {
  padding-top: 200px;
}

.bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}